/**********************************RESTART*******************************/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
main {
  display: block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

::-moz-selection,
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q::before,
q::after {
  content: "";
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul,
nav ol,
ul,
li {
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

i {
  color: white;
}

ul {
  list-style: none;
}

/**********************************Global Configuration********************************/
@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Sailec";
  color: #ffffff;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.35;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #090944;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: space-around;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
}

.button {
  padding: 11px;
  border-radius: 5px;
  background-color: #cc6633;
  color: #090944;
  border: none;
  font-size: 25px;
  font-weight: 900;
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .button {
    font-size: 15px;
    width: 140px;
  }
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .nav__button {
    display: none;
  }
}

/************************************Menu Button******************************/
.menu__button {
  display: none;
  width: 39px;
  filter: invert(86%) sepia(10%) saturate(2382%) hue-rotate(320deg) brightness(102%) contrast(101%);
}

@media (max-width: 768px) {
  .menu__button {
    display: block;
  }
}

.close__button {
  width: 39px;
  filter: invert(86%) sepia(10%) saturate(2382%) hue-rotate(320deg) brightness(102%) contrast(101%);
}

/************************************Call Us*******************************************/
.call__us__button {
  padding: 5px 20px;
  border-radius: 5px;
  color: #090944;
  border: none;
  font-weight: 700;
  position: relative;
  background-color: #5fcc47;
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 480px) {
  .call__us__button {
    font-size: 15px;
  }
}

.form__button {
  width: 230px;
}

/**********************************Scroll Tracker*******************************/
.scroll-tracker {
  position: fixed;
  inset: 0 0 auto;
  height: 8px;
  background-color: #cc6633;
  z-index: 10;
  transform-origin: left;
}

/**********************************Sections Animation*******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px 0;
  border-bottom: 1px solid #303436;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #090944;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

.header__wrapper .tribetech__logo {
  width: 118px;
  height: 25px;
  font-weight: 700;
  font-size: 20px;
}

.header__wrapper .header__nav {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header__wrapper .header__nav .nav__links {
  list-style: none;
  display: flex;
  margin-left: auto;
  justify-content: start;
  align-items: center;
}

.header__wrapper .header__nav li {
  margin: 0 30px;
}

/******************************************Navigation bar slide*****************************************/
@media (max-width: 768px) {
  .nav__links {
    position: relative;
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    z-index: 15;
    transition: all 0.6s ease-in-out;
  }
  .nav__links .nav__link {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: all 1s ease-in-out;
    transition-delay: calc(0.1s * var(--i));
    border-bottom: 1px solid #303436;
    background-color: #3e1fc9;
    width: 100%;
  }
  .nav__links a {
    color: #ffc28c;
  }
  .nav__links--open {
    transform: translateY(133px);
    visibility: visible;
    opacity: 1;
  }
  .visible {
    transform: translateY(-40px);
    visibility: visible;
    opacity: 1;
  }
  .menu__button {
    display: inline-block;
    cursor: pointer;
  }
}

.invisible {
  display: none;
}

/**********************************Footer********************************/
footer {
  width: 100%;
  overflow: hidden;
  padding: 13px 0;
  background-color: #cc6633;
}

footer p {
  color: #090944;
  font-size: 20px;
  font-weight: 800;
}

footer .footer__nav {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  footer .footer__nav {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  footer .footer__nav .footer__list {
    display: none;
  }
}

footer ul {
  display: flex;
  gap: 20px;
}

footer ul li {
  color: #090944;
  font-weight: 900;
  font-size: 20px;
}

footer .footer__icon {
  width: 30px;
  filter: invert(10%) sepia(53%) saturate(7434%) hue-rotate(243deg) brightness(59%) contrast(124%);
}

/**********************************Hero Section*******************************/
.hero__section {
  padding: 60px 0px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  border-bottom: 1px solid #303436;
  display: flex;
  justify-content: center;
  background-image: url("../img/dots-hero2.png");
  background-size: contain;
  background-position: 47% -43%;
  background-repeat: no-repeat;
  background-origin: border-box;
  animation: hero-scale;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}

@keyframes hero-scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 450px) {
  .hero__section {
    background-image: url("../img/dots-hero.svg");
    background-size: 100%;
    background-position: 47% 70%;
    height: 90vh;
  }
}

@media (max-width: 430px) {
  .hero__section {
    background-size: 103%;
    background-position: 47% -65%;
  }
}

@media (max-width: 400px) {
  .hero__section {
    height: 85vh;
    background-size: 100%;
    background-position: 47% 55%;
  }
}

.hero__section .hero__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 100px 30px;
  position: absolute;
  top: 20%;
}

.hero__section .hero__dots__background {
  z-index: 12;
  overflow: hidden;
}

.hero__section h1 {
  font-size: 50px;
}

@media (max-width: 768px) {
  .hero__section h1 {
    font-size: 35px;
  }
}

.hero__section p {
  font-size: 30px;
  color: #dfdfdfa3;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .hero__section p {
    font-size: 20px;
  }
}

/**********************************Problem Section*******************************/
.problem__section {
  padding: 50px 30px;
}

@media (max-width: 768px) {
  .problem__section {
    border-bottom: 1px solid #303436;
  }
}

.problem__section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding: 120px;
  border: 1px solid #303436;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .problem__section__wrapper {
    padding: 30px;
    border: none;
  }
}

.problem__section h1 {
  font-size: 50px;
  color: #ffc28c;
}

@media (max-width: 768px) {
  .problem__section h1 {
    font-size: 35px;
  }
}

.problem__section p {
  font-size: 20px;
  width: 70%;
  text-align: left;
}

@media (max-width: 768px) {
  .problem__section p {
    font-size: 20px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .problem__section p {
    font-size: 15px;
    width: 90%;
  }
}

/**********************************Solution section*******************************/
.solution__section {
  padding: 120px 0;
}

@media (max-width: 768px) {
  .solution__section {
    border-bottom: 1px solid #303436;
  }
}

.solution__section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .solution__section {
    padding: 70px 0;
  }
}

.solution__section h1 {
  font-size: 50px;
  color: #ffc28c;
}

@media (max-width: 768px) {
  .solution__section h1 {
    font-size: 35px;
  }
}

.solution__section p {
  font-size: 20px;
  width: 70%;
  text-align: left;
  line-height: 28px;
}

@media (max-width: 768px) {
  .solution__section p {
    font-size: 18px;
    word-spacing: 3px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .solution__section p {
    font-size: 15px;
    width: 90%;
  }
}

/**********************************If u are section*******************************/
.if__you__are {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .if__you__are {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #303436;
  }
}

.if__you__are__wrapper {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #303436;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .if__you__are__wrapper {
    border: none;
  }
}

@media (max-width: 768px) {
  .if__you__are {
    padding: 70px 0;
  }
}

.if__you__are h3 {
  font-size: 40px;
  color: #ffc28c;
}

@media (max-width: 768px) {
  .if__you__are h3 {
    font-size: 25px;
  }
}

.if__you__are li {
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 768px) {
  .if__you__are li {
    font-size: 15px;
  }
}

.if__you__are p {
  font-size: 20px;
  width: 70%;
  text-align: center;
}

/**********************************Working process section*******************************/
.workin__process__section {
  padding: 120px 30px;
}

@media (max-width: 768px) {
  .workin__process__section {
    border-bottom: 1px solid #303436;
  }
}

.workin__process__section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.workin__process__section h2 {
  font-size: 50px;
  color: #ffc28c;
}

@media (max-width: 768px) {
  .workin__process__section h2 {
    font-size: 25px;
  }
}

.workin__process__section p {
  font-size: 20px;
  width: 70%;
  text-align: left;
  line-height: 28px;
  word-spacing: 3px;
}

@media (max-width: 768px) {
  .workin__process__section p {
    font-size: 18px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .workin__process__section p {
    font-size: 15px;
  }
}

.workin__process__timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 40px;
}

.workin__process__timeline .circle__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 100px;
}

.workin__process__timeline .circle__wrapper p {
  font-size: 15px;
  width: 50%;
}

.workin__process__timeline .odd__circle__wrapper {
  justify-content: end;
}

.circle {
  height: 200px;
}

.odd__circle {
  transform: rotateZ(270deg);
}

.even__circle {
  transform: rotateZ(270deg);
}

/**********************************Mission and purpose section*******************************/
.mission__and__purpose {
  padding: 120px 0;
  align-items: center;
}

.mission__and__purpose__wrapper {
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.mission__and__purpose h2 {
  font-size: 50px;
  color: #ffc28c;
}

@media (max-width: 768px) {
  .mission__and__purpose h2 {
    font-size: 25px;
  }
}

.mission__and__purpose p {
  font-size: 20px;
  width: 70%;
  text-align: left;
}

@media (max-width: 768px) {
  .mission__and__purpose p {
    width: auto;
  }
}

@media (max-width: 480px) {
  .mission__and__purpose p {
    font-size: 15px;
  }
}

/**********************************Stay in touch section*******************************/
.stay__in__touch__section {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .stay__in__touch__section {
    padding-bottom: 25px;
  }
}

.stay__in__touch__section form {
  background-color: #ffffff;
  padding: 25px;
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  border-radius: 15px;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .stay__in__touch__section form {
    padding: 20px;
    gap: 10px;
    width: 90%;
  }
}

.stay__in__touch__section form .lets__talk__paragraph {
  font-size: 40px;
  font-weight: 900;
  color: #090944;
}

@media (max-width: 480px) {
  .stay__in__touch__section form .lets__talk__paragraph {
    font-size: 30px;
  }
}

.stay__in__touch__section form .message {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 50px;
  width: 100%;
}

@media (max-width: 768px) {
  .stay__in__touch__section form .message {
    gap: 10px;
  }
}

.stay__in__touch__section form .message .message__label {
  padding-bottom: 20px;
  color: #090944;
}

.stay__in__touch__section form .message .message__input {
  padding: 10px;
  color: #666699;
  font-weight: 700;
  border: none;
  background-color: #e6e6e6;
  width: 100%;
  font-size: 15px;
  max-width: 900px;
  max-height: 300px;
}

@media (max-width: 768px) {
  .stay__in__touch__section form .message .message__input {
    padding-bottom: 40px;
  }
}

.stay__in__touch__section form h2 {
  color: #090944;
  font-size: 30px;
}

@media (max-width: 480px) {
  .stay__in__touch__section form h2 {
    font-size: 20px;
  }
}

.stay__in__touch__section form .name__and__last__name,
.stay__in__touch__section form .email__and__phone__number,
.stay__in__touch__section form .call__us {
  display: flex;
  border: none;
  gap: 50px;
  width: 100%;
}

@media (max-width: 930px) {
  .stay__in__touch__section form .name__and__last__name,
  .stay__in__touch__section form .email__and__phone__number,
  .stay__in__touch__section form .call__us {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.stay__in__touch__section form .form__div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.stay__in__touch__section form label {
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 480px) {
  .stay__in__touch__section form label {
    font-size: 20px;
  }
}

.stay__in__touch__section form input {
  border: none;
  padding: 10px;
  border-radius: 2px;
  width: 100%;
  background-color: #e6e6e6;
  font-size: 17px;
  font-weight: 700;
  color: #090944;
}

.stay__in__touch__section form ::-webkit-input-placeholder {
  color: #666699;
}

@media (max-width: 480px) {
  .stay__in__touch__section form ::-webkit-input-placeholder {
    font-size: 10px;
  }
}

.stay__in__touch__section form .input__class:focus {
  box-shadow: 0 0 3pt 2pt #090944;
  border: none;
  border-radius: 2px;
  outline: none;
  transition: 0.1s;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */