@import "./config";
@import "./utilities";
@import "./buttons";
@import "./animations";
@import "./components/header";
@import "./components/footer";

/**********************************Section mixins*******************************/

.section__heading {
  font-size: 50px;
  color: $light-orange-color;

  @media (max-width: 768px) {
    font-size: 35px;
  }
}

.section__paragraph {
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  max-width: 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  text-indent: 40px;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }

  @media (max-width: 480px) {
    font-size: 15px;
  }
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 120px 30px;
  align-items: center;
  overflow: hidden;

  @media (max-width: 450px) {
    padding: 80px 30px;
  }
}

/**********************************Hero Section*******************************/

.hero__section {
  //padding: 30px 0 60px 0;
  position: relative;
  overflow: hidden;
  height: 90vh;
  border-bottom: 1px solid rgb(48, 52, 54);
  display: flex;
  justify-content: center;
  background-image: url("../img/dots-hero2.png");
  background-size: cover;
  //background-position: 47% 0%;
  background-repeat: no-repeat;
  background-origin: border-box;
  animation: hero-scale;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;

  @keyframes hero-scale {
    0% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }

  @media (max-width: 768px) {
    background-image: url("../img/dots-hero.svg");
    background-position: 47% 100%;
    height: 90vh;
  }

  @media (max-width: 550px) {
    background-position: 51% 0%;
  }

  @media (max-width: 450px) {
    height: 85vh;
    background-size: 100%;
    background-position: 47% 18%;
    background-size: cover;
  }

  .hero__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 50px 30px 100px 30px;
    position: absolute;
    top: 20%;
  }

  p {
    font-size: 30px;
    color: #ffffffa3;
    opacity: 0.6;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

/**********************************Problem Section*******************************/

.problem__section {
  // padding: 50px 30px;
  @media (max-width: 768px) {
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    border: 1px solid rgb(48, 52, 54);
    border-radius: 8px;

    @media (max-width: 768px) {
      border: none;
    }
  }
}
/**********************************Solution section*******************************/

.solution__section {
  @media (max-width: 768px) {
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
  }
}

/**********************************If u are section*******************************/

.if__you__are {
  @media (max-width: 768px) {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    align-items: center;
    border: 1px solid rgb(48, 52, 54);
    border-radius: 8px;

    @media (max-width: 768px) {
      border: none;
    }
  }

  h3 {
    font-size: 40px;
    color: $light-orange-color;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  li {
    font-size: 18px;
    padding: 10px;

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }

  p {
    font-size: 20px;
    width: 70%;
    text-align: center;
  }
}

/**********************************Working process section*******************************/

.working__process__section {
  @media (max-width: 950px) {
    border-bottom: 1px solid rgb(48, 52, 54);
  }
}

.working__process__timeline {
  display: flex;
  gap: 30px;
  justify-content: center;

  padding-top: 40px;
  height: 450px;
  //width: 680px;

  @media (max-width: 1100px) {
    height: 390px;
  }

  @media (max-width: 950px) {
    padding-top: 50px;
    // min-width: 450px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  @media (max-width: 450px) {
    gap: 10px;
  }

  .circle__wrapper {
    display: flex;
    align-items: center;
    //justify-content: space-between;

    @media (max-width: 950px) {
      width: 200px;
      height: 100px;
      //justify-content: center;
    }

    @media (max-width: 768px) {
      width: 170px;
      height: 80px;
    }

    @media (max-width: 450px) {
      width: 165px;
      height: 100px;
    }
  }
}

.circle {
  height: 300px;

  @media (max-width: 1100px) {
    height: 260px;
  }

  @media (max-width: 950px) {
    transform: rotateZ(270deg);
    height: 240px;
  }

  // @media (max-width: 950px) {
  //   height: 200px;
  // }

  @media (max-width: 768px) {
    height: 200px;
  }
}

.even__circle__wrapper {
  @media (max-width: 950px) {
    display: flex;
    align-items: center;
    // justify-content: flex-start;
  }
}

.odd__circle__wrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 950px) {
    align-items: center;
  }
}

.odd__circle {
  align-self: flex-end;

  @media (max-width: 950px) {
    align-self: center;
  }
}

.even__circle {
  align-self: flex-start;

  @media (max-width: 950px) {
    align-self: center;
  }
}

/**********************************Mission and purpose section*******************************/

// .mission__and__purpose {

// }

/**********************************Stay in touch section*******************************/

.stay__in__touch__section {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding-bottom: 25px;
  }

  form {
    background-color: #ffffff;
    padding: 25px;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    max-width: 1000px;

    @media (max-width: 768px) {
      padding: 20px;
      gap: 10px;
      width: 90%;
    }

    .lets__talk__paragraph {
      font-size: 40px;
      font-weight: 900;
      color: $primary-color;

      @media (max-width: 450px) {
        font-size: 30px;
      }
    }

    .message {
      display: flex;
      flex-direction: column;

      border: none;
      gap: 50px;
      width: 100%;

      @media (max-width: 768px) {
        gap: 10px;
      }

      .message__label {
        justify-self: center;
        padding-bottom: 20px;
        color: $primary-color;
      }

      .message__input {
        padding: 10px;
        color: #666699;
        font-weight: 700;
        border: none;
        background-color: rgb(230, 230, 230);
        width: 100%;
        font-size: 15px;
        max-width: 900px;
        max-height: 300px;

        @media (max-width: 768px) {
          padding-bottom: 40px;
        }
      }
    }

    h2 {
      color: $primary-color;
      font-size: 30px;
      @media (max-width: 450px) {
        font-size: 20px;
      }
    }

    .name__and__last__name,
    .email__and__phone__number,
    .call__us {
      display: flex;
      border: none;
      gap: 50px;
      width: 100%;

      @media (max-width: 930px) {
        flex-wrap: wrap;
        gap: 10px;
      }
    }

    .form__div {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
    }

    label {
      font-size: 30px;
      font-weight: 900;
      @media (max-width: 450px) {
        font-size: 20px;
      }
    }
    input {
      border: none;
      padding: 10px;
      border-radius: 2px;
      width: 100%;
      background-color: rgb(230, 230, 230);
      font-size: 17px;
      font-weight: 700;
      color: $primary-color;
    }

    ::-webkit-input-placeholder {
      color: #666699;

      @media (max-width: 450px) {
        font-size: 10px;
      }
    }

    .input__class:focus {
      box-shadow: 0 0 3pt 2pt $primary-color;
      border: none;
      border-radius: 2px;
      outline: none;
      transition: 0.1s;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
