@import "./config";
@import "./utilities";
@import "./buttons";
// @import "../scss/thank-you-modal";
@import "./animations";
@import "./components/header";
@import "./components/footer";

/**********************************Hero Section*******************************/

.hero__section {
  padding: 60px 0px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  border-bottom: 1px solid rgb(48, 52, 54);
  display: flex;
  justify-content: center;
  background-image: url("../img/dots-hero2.svg");
  background-size: 100%;
  background-position: 47% -43%;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  animation: hero-scale;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;

  @keyframes hero-scale {
    0% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }

  @media (max-width: 450px) {
    background-image: url("../img/dots-hero.svg");
    background-size: 100%;
    background-position: 47% 70%;
    height: 90vh;
  }

  @media (max-width: 430px) {
    background-size: 103%;
    background-position: 47% -65%;
  }

  @media (max-width: 400px) {
    background-size: 100%;
    background-position: 47% 330%;
  }

  .hero__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 100px 30px;
    //z-index: 5;
    position: absolute;
    //left: 27%;
    top: 20%;
  }

  .hero__dots__background {
    //transform: rotate(270deg);
    z-index: 12;
    overflow: hidden;

    // @media (max-width: 768px) {
    //   transform: rotate(90deg);
    //   left: 45%;
    //   top: -56%;
    // }

    // @media (max-width: 540px) {
    //   transform: rotate(0deg);
    //   left: 0%;
    //   top: -63%;
    //   width: 527px;
    // }
  }

  h1 {
    font-size: 50px;

    @media (max-width: 768px) {
      font-size: 35px;
    }
  }

  p {
    font-size: 30px;
    color: #dfdfdfa3;
    opacity: 0.6;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

/**********************************Problem Section*******************************/
.problem__section {
  padding: 50px 30px;
  @media (max-width: 768px) {
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

    padding: 120px;
    border: 1px solid rgb(48, 52, 54);
    border-radius: 8px;

    @media (max-width: 768px) {
      padding: 30px;
      border: none;
    }
  }

  h1 {
    font-size: 50px;
    color: $light-orange-color;

    @media (max-width: 768px) {
      font-size: 35px;
    }
  }

  p {
    font-size: 20px;
    width: 70%;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 20px;
      width: 90%;
    }

    @media (max-width: 480px) {
      font-size: 15px;
      width: 90%;
    }
  }
}
/**********************************Solution section*******************************/
.solution__section {
  padding: 120px 0;
  @media (max-width: 768px) {
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  h1 {
    font-size: 50px;
    color: $light-orange-color;
    @media (max-width: 768px) {
      font-size: 35px;
    }
  }

  p {
    font-size: 20px;
    width: 70%;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 20px;
      width: 90%;
    }

    @media (max-width: 480px) {
      font-size: 15px;
      width: 90%;
    }
  }
}

/**********************************If u are section*******************************/

.if__you__are {
  padding: 0 30px;

  @media (max-width: 768px) {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(48, 52, 54);
    border-radius: 8px;

    @media (max-width: 768px) {
      border: none;
    }
  }

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  h3 {
    font-size: 40px;
    color: $light-orange-color;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  li {
    font-size: 20px;
    padding: 10px;

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }

  p {
    font-size: 20px;
    width: 70%;
    text-align: center;
  }
}

/**********************************Working process section*******************************/

.workin__process__section {
  padding: 120px 30px;

  @media (max-width: 768px) {
    border-bottom: 1px solid rgb(48, 52, 54);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 50px;
    color: $light-orange-color;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 20px;
    width: 70%;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 20px;
      width: auto;
    }

    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
}

/**********************************Mission and purpose section*******************************/

.mission__and__purpose {
  padding: 120px 0;

  align-items: center;

  &__wrapper {
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 50px;
    color: $light-orange-color;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 20px;
    width: 70%;
    text-align: left;

    @media (max-width: 768px) {
      width: auto;
    }

    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
}

/**********************************Stay in touch section*******************************/

.stay__in__touch__section {
  //padding: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding-bottom: 25px;
  }

  form {
    background-color: #ffffff;
    padding: 25px;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    border-radius: 15px;
    max-width: 1000px;

    @media (max-width: 768px) {
      padding: 20px;
      gap: 10px;
      width: 90%;
    }

    .lets__talk__paragraph {
      font-size: 40px;
      font-weight: 900;
      color: $primary-color;

      @media (max-width: 480px) {
        font-size: 30px;
      }
    }

    .message {
      display: flex;
      flex-direction: column;
      border: none;
      gap: 50px;
      width: 100%;

      @media (max-width: 768px) {
        gap: 10px;
      }

      .message__label {
        padding-bottom: 20px;
        color: $primary-color;
      }

      .message__input {
        padding: 10px;
        color: #666699;
        font-weight: 700;
        border: none;
        background-color: rgb(230, 230, 230);
        width: 100%;
        font-size: 15px;
        max-width: 900px;
        max-height: 300px;

        @media (max-width: 768px) {
          padding-bottom: 40px;
        }
      }
    }

    h2 {
      color: $primary-color;
      font-size: 30px;
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    .name__and__last__name,
    .email__and__phone__number,
    .call__us {
      display: flex;
      border: none;
      gap: 50px;
      width: 100%;

      @media (max-width: 930px) {
        flex-wrap: wrap;
        gap: 10px;
      }
    }

    .form__div {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }

    label {
      font-size: 30px;
      font-weight: 900;
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
    input {
      border: none;
      padding: 10px;
      border-radius: 2px;
      width: 100%;
      background-color: rgb(230, 230, 230);
      font-size: 17px;
      font-weight: 700;
      color: $primary-color;
    }

    ::-webkit-input-placeholder {
      color: #666699;

      @media (max-width: 480px) {
        font-size: 10px;
      }
    }

    .input__class:focus {
      box-shadow: 0 0 3pt 2pt $primary-color;
      border: none;
      border-radius: 2px;
      outline: none;
      transition: 0.1s;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
