/**********************************RESTART*******************************/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
main {
  display: block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

::-moz-selection,
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q::before,
q::after {
  content: "";
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul,
nav ol,
ul,
li {
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

i {
  color: white;
}

ul {
  list-style: none;
}

/**********************************Global Configuration********************************/
@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Sailec";
  color: #ffffff;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.35;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #090944;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: space-around;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
}

.button {
  padding: 11px;
  border-radius: 5px;
  background-color: #cc6633;
  color: #090944;
  border: none;
  font-size: 25px;
  font-weight: 900;
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .button {
    font-size: 15px;
    width: 140px;
  }
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .nav__button {
    display: none;
  }
}

/************************************Menu Button******************************/
.menu__button {
  display: none;
  width: 39px;
  filter: invert(86%) sepia(10%) saturate(2382%) hue-rotate(320deg) brightness(102%) contrast(101%);
}

@media (max-width: 768px) {
  .menu__button {
    display: block;
  }
}

.close__button {
  width: 39px;
  filter: invert(86%) sepia(10%) saturate(2382%) hue-rotate(320deg) brightness(102%) contrast(101%);
}

/************************************Call Us*******************************************/
.call__us__button {
  padding: 5px 20px;
  border-radius: 5px;
  color: #090944;
  border: none;
  font-weight: 700;
  position: relative;
  background-color: #5fcc47;
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 480px) {
  .call__us__button {
    font-size: 15px;
  }
}

.form__button {
  width: 230px;
}

/**********************************Scroll Tracker*******************************/
.scroll-tracker {
  position: fixed;
  inset: 0 0 auto;
  height: 8px;
  background-color: #cc6633;
  z-index: 10;
  transform-origin: left;
}

/**********************************Sections Animation*******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px 0;
  border-bottom: 1px solid #303436;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 25;
  background-color: #090944;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

.header__wrapper .tribetech__logo {
  width: 118px;
  height: 25px;
  font-weight: 700;
  font-size: 20px;
}

.header__wrapper .header__nav {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header__wrapper .header__nav .nav__links {
  list-style: none;
  display: flex;
  margin-left: auto;
  justify-content: start;
  align-items: center;
}

.header__wrapper .header__nav li {
  margin: 0 30px;
}

/******************************************Navigation bar slide*****************************************/
@supports (backdrop-filter: blur(10px)) {
  .nav__links {
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 768px) {
  .nav__links {
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    top: -283px;
    background-color: 7 7 54 / 0%;
    height: 30vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 1em;
    font-size: large;
    z-index: 15;
    transition: all 0.6s ease-in-out;
    border-bottom: 1px solid #303436;
  }
  .nav__links a {
    color: #ffc28c;
  }
  .nav__links--open {
    top: 64px;
  }
  .menu__button {
    display: inline-block;
    cursor: pointer;
  }
}

.invisible {
  display: none;
}

/**********************************Footer********************************/
footer {
  width: 100%;
  overflow: hidden;
  padding: 13px 0;
  background-color: #cc6633;
}

footer p {
  color: #090944;
  font-size: 20px;
  font-weight: 800;
}

footer .footer__nav {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  footer .footer__nav {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  footer .footer__nav .footer__list {
    display: none;
  }
}

footer ul {
  display: flex;
  gap: 20px;
}

footer ul li {
  color: #090944;
  font-weight: 900;
  font-size: 20px;
}

footer .footer__icon {
  width: 30px;
  filter: invert(10%) sepia(53%) saturate(7434%) hue-rotate(243deg) brightness(59%) contrast(124%);
}

@font-face {
  font-family: "Sailec";
  src: url("../../../fonts/Sailec Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../../../fonts/Sailec Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Sailec";
  color: #ffffff;
  box-sizing: border-box;
}

/***********************************Main**********************************/
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px - 56px);
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.services-container .services-box {
  width: 200px;
  background-color: #ffc28c;
}

.services-container .services-box h3 {
  color: #000066;
}
/*# sourceMappingURL=style.css.map */