.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px 0;
  border-bottom: 1px solid rgb(48, 52, 54);
  overflow: hidden;
  position: sticky;
  top: 0;

  top: 0;
  z-index: 20;
  background-color: $primary-color;

  @media (max-width: 768px) {
    padding: 10px 0;
  }

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    height: 43px;

    .tribetech__logo {
      width: 118px;
      height: 25px;

      font-weight: 700;
      font-size: 20px;
    }

    .header__nav {
      color: rgba(255, 255, 255, 0.6);
      font-size: 20px;
      font-weight: 700;
      display: flex;
      align-items: center;

      .nav__links {
        list-style: none;
        display: flex;
        margin-left: auto;
        justify-content: start;
        align-items: center;
        z-index: 15;
      }

      li {
        margin: 0 30px;
      }
    }
  }
}

/******************************************Navigation bar slide*****************************************/

@media (max-width: 768px) {
  .nav__links {
    //position: relative;
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    z-index: 15;
    transition: all 0.6s ease-in-out;
    transform: translateY(-185px);
    // opacity: 0;
    // visibility: hidden;

    .nav__link {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 10px;
      transition: all 0.5s ease-in-out;
      transition-delay: calc(0.2s * var(--i));
      // border-bottom: 1px solid rgb(48, 52, 54);
      border-bottom: 2px solid $light-orange-color;
      background-color: #1a086d;
      width: 100%;
      z-index: -5;
      // opacity: 0;
      // visibility: hidden;
    }

    a {
      font-weight: 700;
      color: $light-orange-color;
    }
  }

  .nav__links--open {
    transform: translateY(40px);
    visibility: visible;
    opacity: 1;
  }

  .visible {
    transform: translateY(-40px);
    visibility: visible;
    opacity: 1;
  }

  // .hidden {
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: all 0.8s ease-in-out;
  //   //transform: translateY(-450px);
  // }

  .menu__button {
    display: inline-block;
    cursor: pointer;
  }
}

.invisible {
  display: none;
}
